C:\Users\ShyamV\Documents\Visual Studio 2017\Projects\AutodlConfigurator\AutodlConfigurator\accesstoken.txt
packages/
AutodlConfigurator/bin/Debug/log.txt
AutodlConfigurator/bin/Debug/
AutodlConfigurator/accesstoken.txt
AutodlConfigurator/obj/
AutodlConfiguratorTests/bin/
